{% extends 'historia/base.html' %}
{% load static %}

{% block content %}
    <!-- Contenedor para centrar solo la tarjeta inicial -->
    <div id="pantalla-inicio" class="contenedor-pantalla-completa">
        <div class="tarjeta-bienvenida">
            <h1>Nuestra Historia</h1>
            <p>Tengo algo preparado para ti...</p>
            <button class="btn-entrar" id="btn-comenzar">Abrir regalo</button>

            <audio id="musica-fondo" preload="auto"></audio>
        </div>
    </div>

    <!-- Contenido Principal (La Línea de Tiempo) -->
    <div id="contenido-principal" class="seccion-oculta">
        <div class="cabecera-historia">
            <h2 class="titulo-historia">Nuestros Momentos</h2>
            <p class="subtitulo-historia">Cada paso que hemos dado...</p>
        </div>

        <div class="timeline">
            <div class="timeline-item">
                <div class="timeline-punto"></div>
                <a href="#" class="timeline-contenido">
                    <span class="timeline-fecha">2 de Septiembre de 2025</span>
                    <h3>El día que nos conocimos</h3>
                    <img src="https://picsum.photos/400/300?random=1" alt="Recuerdo" class="timeline-foto">
                    <p>El primer día que nos vimos .</p>
                </a>
            </div>

            <div class="timeline-item">
                <div class="timeline-punto"></div>
                <a href="#" class="timeline-contenido">
                    <span class="timeline-fecha">3 de Septiembre de 2025</span>
                    <h3>De viaje por criptana</h3>
                    <img src="https://picsum.photos/400/300?random=2" alt="Recuerdo" class="timeline-foto">
                    <p>Entrenamiento en el gimnasio como buenos deportitas y de turistas por los molinos</p>
                </a>
            </div>

            <div class="timeline-item">
                <div class="timeline-punto"></div>
                <a href="#" class="timeline-contenido">
                    <span class="timeline-fecha">13-14-15 de Febrero de 2026</span>
                    <h3>Visita a herencia para disfrutar de los carnavales</h3>
                    <img src="https://picsum.photos/400/300?random=2" alt="Recuerdo" class="timeline-foto">
                    <p>Primeros tonteos pero José Carlos se mueve menos que los ojos de los lunnis</p>
                </a>
            </div>

            <div class="timeline-item">
                <div class="timeline-punto"></div>
                <a href="#" class="timeline-contenido">
                    <span class="timeline-fecha">1 de Mayo de 2026</span>
                    <h3>Viaje a Granada</h3>
                    <img src="https://picsum.photos/400/300?random=2" alt="Recuerdo" class="timeline-foto">
                    <p>Después de un tiempo hablando quedamos en granada para algo más</p>
                </a>
            </div>

            <!-- El bloque del futuro -->
            <div class="timeline-item">
                <div class="timeline-punto punto-final"></div>
                <div class="timeline-final">
                    <h3>Y todo lo que nos queda por vivir...</h3>
                    <p>¿Próximo encuentro?</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        const nuestraPlaylist = [
            "{% static 'historia/musica/506.mp3' %}",
            "{% static 'historia/musica/Antes de Perderte.mp3' %}",
            "{% static 'historia/musica/Me Voy Enamorando.mp3' %}",
            "{% static 'historia/musica/Supersubmarina.mp3' %}",
            "{% static 'historia/musica/Te Entiendo.mp3' %}"
        ];
    </script>

    <script src="{% static 'historia/js/script.js' %}"></script>

{% endblock %}